<h1>HSM home page</h1>

<p>This is the home page of a server that simulates a hardware
security module used by the RSTA internal server.  </p>

<p>The HSM signs object and returns the signature and a certificate
chain consist of the RSTA CA certificate and the Trust Registry
self-signed root certificate.  </p>

<p>In the demo, a request for a signature is submitted by v5-ci-admin,
and the object to be signed is unsignedCert_object.  </p>
